<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="Copyright" content="BeeBB Group &copy; 2005" />
<meta name="Author" content="BeeBB Group" />
<meta name="description" content="??" />
<meta name="keywords" content="??" />

<title>BeeBB :: Naglowek</title>
<link rel="stylesheet" href="./temat.css" type="text/css"/>
<!--<SCRIPT type="text/javascript" src="./skrypt.js"/>-->

</head>
<body>
<table id="tableHeader" width="100%" cellspacing="0" cellpadding="1" border="0">
<tr>
	<td width="20%" align="top">
		<img class="beePicture" alt="Bee Sign" src="http://bee.ltd.pl/images/Bee_logo.gif" align="top"/>
<!--		<img alt="Bee Logo" src="http://bee.ltd.pl/images/BEE_trans.gif"/> -->
	</td>
<td>
	<table width="100%" cellspacing="0" cellpadding="2" border="0">
		<tr>
			<td class="tdForumHeader" bgcolor="white" align="center">
			<span class="forumTitle">
				Przykładowy wygład forum Bee. W tym miejscu bedzie mozna wpisac co tylko sobie czlowiek zapragnie. W szczegolnosci bedzie mozna napisac cos co nie ma sensu i bedzie bardzo dlugie, a nawet jesli bedzie krotkie to nadal bedzie rownie dobrym kawalkiem tekstu.
			</span>
			</td>
		</tr>		
		<tr>
		<td id="cellMenu" align="center">
			<table id="tableMenu" border="0" width="400"> 
			<tr>
			<td class="tdTopLink"><a class="aTopLink" href="">
				[] FAQ
				</a>
			</td>
			<td class="tdTopLink"><a class="aTopLink" href="">
				[] Szukaj
				</a>
			</td>
			<td class="tdTopLink"><a class="aTopLink" href="">
				[] Użytkownicy
				</a>
			</td>
			<td class="tdTopLink"><a class="aTopLink" href="">
				[] Grupy
				</a>
			</td>
			</tr>
			<tr>
			<td class="tdTopLink"><a class="aTopLink" href="">
				[] Profil
				</a>
			</td>
			<td class="tdTopLink"><a class="aTopLink" href="">
				[] Zaloguj się
				</a>
			</td>
			<td class="tdTopLink"><a class="aTopLink" href="">
				[] Rejestracja
				</a>
			</td>
			</tr>
			</table>
		</td>
		</tr>
	</table>
</td>
</tr>
</table>

</body>
</html>

