<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="Copyright" content="BeeBB Group &copy; 2005" />
<meta name="Author" content="BeeBB Group" />
<meta name="description" content="??" />
<meta name="keywords" content="??" />

<title>BeeBB :: Index</title>
<link rel="stylesheet" href="./temat.css" type="text/css"/>
<script type="text/javascript" src="./skrypt.js"></script>
</head>
<!-- 
	UWAGA!!!!!!!!!!!!!!!!!! Te IFRAMEs sa tu TYLKO po to by podkreslic sposob implementacji: podzial na naglowek srodek i dol
	Oczywiscie gdyby je zastosowac w wersji ostatecznej to byloby swietnie bo gora i dol raczej sie nie zmieniaja.
	Ale taki uklad jak jest tutaj baaaaaaaaaaaaaaardzo sie kaszani 
	
	23.03.2005:	Juz sie nie kaszani :D
-->
<body>
<table width="100%" border="0"> 
<tr>
<td id="cellHead">
	<iframe id="frameHead" width="100%" src="naglowek.html" scrolling="no" frameborder="0"></iframe>
</td>
</tr>
<tr>
<td id="cellTresc">
	<iframe id="frameTresc" width="100%" height="5000" src="forum.html" scrolling="no" frameborder="0"></iframe>
</td>
</tr>
</table>
</body>
</html>
