<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="Copyright" content="BeeBB Group &copy; 2005" />
<meta name="Author" content="BeeBB Group" />
<meta name="description" content="??" />
<meta name="keywords" content="??" />

<title>BeeBB.com :: Index</title>
<link rel="stylesheet" href="./temat.css" type="text/css"/>
<!--<SCRIPT type="text/javascript" src="./skrypt.js"/>-->

<!--<FRAMESET ROWS="150,*" BORDER="0">
<FRAME SRC="naglowek.html" SCROLLING="no" NAME="Naglowek">
<FRAME SRC="forum.html" SCROLLING="auto" NAME="Strona">
</FRAMESET>
-->
</head>
<body>
<table>
<tr>
<td>
	To jest cos co mialem do powiedzenia. To co mam do powiedzenia moze byc bardzo dlugie. I tu znow mozna by prowadzic dyskusje na temat jak dluga powinna byc rozsadnej dlugosci wypowiedz. Na to pytanie nie znajdziemy jednoznacznej odpowiedzi. Jedne wypowiedzi sa krotkie ale zaiweraja wystarczajaca ilosc informacji wyczerpujacych dany temat, a inne wypowiedzi moga ciagnac sie przez wiele stron i nie wsiona nic pozytecznego do toczonej dyskuski. Innym przypadkiem jest cytowanie ogromnych polaci kodu zrodlowego co staje sie coraz powszechniejsze na dzisiejszych forach dyskusyjnych. Tak moglbym jeszcze dlugo pisac gdyby nie to ze osiagnalem juz odpowiednia dlugosc przykladowej wypowiedzi.
</td>
</tr>
</table>
</body>
</html>
