body {
	background-color: black; 
        font-family: Verdana, Arial, Helvetica, sans-serif ;
/*	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;*/
}

font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }

/*    
td {
    color: white;
    background-color: black;
    font-size: 12px; 
}
*/
/* a:link,a:active,a:visited { color : #006699; } */
/* a:hover		{ text-decoration: underline; color : #DD6900; } */
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


th	{
	color: white; 
        font-size: 11px;
        font-weight : bold;
	background-color: black; 
        /*height: 30px;*/
	border: 1px silver solid;
}

.beePicture{
        background-color: white;
}

.tableTitleWatek{
	color: white; 
        background-color: black;
        font-size: 11px; 
        font-weight : bold;
        }        

.tdForumHeader	{ background-color: black; color: white; border: 2px silver solid; cursor: pointer;}

/*.tdWypowiedzBox { background-color: gold; border: 2px black solid; } */


.tdTytulKategorii { 
	background-color:  white;
        color: black;
	height : 15;
	background-repeat: repeat-x; 
	border: 1px black solid; 
	}

.tdPicturePodforum , .tdTytulPodforum , .tdLiczba , .tdLastPost, .tdPictureWatek , .tdTytulWatek , .tdAutor, .tdModeratingWatek{
	border: 1px gray solid;
        color: black;
        font-size: 11px;
	background-color: white;
	}

.tdTytulKategorii a:visited, .aTopLink:visited{
	color: black;	
}	

.aTopLink {
        text-decoration: underline;
        color: silver;
        cursor: pointer;
        }


.tdTytulPodforum a:visited , .tdAutor a:visited , .tdLastPost a:visited, .tdTytulWatek a:visited, .linkAutor a:visited{
	color: black;	
	}	

.tdTytulPodforum a:link , .tdAutor a:link , .tdLastPost a:link, .tdTytulWatek a:link, .linkAutor, .linkAutor a:link, .aTytulKategorii, .aTytulPodforum, .aAutor, .aLastPost, .aTytulWatek, .linkAutor, .aUserProfile{
        font-size: 12px;
	color: black;	
        text-decoration: none;
        cursor: pointer;
	}	

.aHref{
        color: white;
}
	
.trWypowiedz {
	background-color: black;
	}

.tdWypowiedzBox{
        background-color: black;
        color: white;
        }
	
.bodyWypowiedz{
	background-color: black;
        margin: 0pt;
	}

.opisPodforum, .tdLiczba, .tdLastPost{
        font-size: 10px;
        color: black;
}

.tdAutorBox, .tdWypowiedz, .tdProfileField, .tdSearch, .tdWypowiedzModer, .tdMoveTo, .tdImgEmotikona, .tdDodawanie, .tdEditWypowiedz, .tdUsersList{ 
        background-color: white;
        color: black;
        border: 1px black solid; 
        }

.wypowiedzData{
        font-size: 8pt;
        color: gray;
        font-weight : normal;
        }

.tdPath, .tdPath a:link, .tdPath a:visited, .aPath{
        color: white;
        font-size: 10pt;
}

.tdTopAction, .tdTopAction a:link, .tdTopAction a:visited, .aTopAction{
        color: white;
        font-size: 10pt;
}

.tableTextNadForum, .tableTextNadPodforum, .tableTextNadWatkiem{
}

.imgEmail{
    width: 0pt;
    height: 0pt;
}

.divImgEmail{
    background-image: url(./../images/mail_black.jpg);
    width: 25pt;
    height: 15pt;
    display: block;
}

.hint{
	font-size: 10pt;
	color: white;
	background-color: black;
	border: 1px silver solid;
}

.error{	
	color: red;
	}

.info{	
	color: yellow;
	}

.success {	
	color: green;
	}