body {
	background-color: darkgoldenrod; 
/*	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;*/
}

font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
/* a:link,a:active,a:visited { color : #006699; } */
/* a:hover		{ text-decoration: underline; color : #DD6900; } */
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


th	{
	color: yellow; font-size: 11px; font-weight : bold;
	background-color: yellow; height: 30px;
	background-image: url(./../images/yellow.png);
	background-repeat: repeat-x;	
	border: 1px black solid;
}

.tableTitleWatek{
	color: yellow; 
        font-size: 11px; 
        font-weight : bold;
        }        

.tdForumHeader	{ background-color: orange; border: 2px black solid; cursor: pointer;}

/*.tdWypowiedzBox { background-color: gold; border: 2px black solid; } */


.tdTytulKategorii { 
	background-color:  gold;
	height : 15;
	background-repeat: repeat-x; 
	border: 1px black solid; 
	}

.tdPicturePodforum , .tdTytulPodforum , .tdLiczba , .tdLastPost, .tdPictureWatek , .tdTytulWatek , .tdAutor, .tdModeratingWatek{
	border: 1px black solid;
	background-color: goldenrod;
	}

.tdTytulKategorii a:visited, .aTopLink:visited{
	color: black;	
}	

.aTopLink {
        text-decoration: underline;
        color: #2f2929;
        cursor: pointer;
        }

.tdTytulKategorii a:link, .aTopLink:link{
	color: #2f2929;
}

.tdTytulPodforum a:visited , .tdAutor a:visited , .tdLastPost a:visited, .tdTytulWatek a:visited, .linkAutor a:visited{
	color: firebrick;	
	}	

.tdTytulPodforum a:link , .tdAutor a:link , .tdLastPost a:link, .tdTytulWatek a:link, .linkAutor, .linkAutor a:link{
	color: darkred;	
	}	
	
.trWypowiedz {
	background-color: khaki;
	}

.tdWypowiedzBox{
        background-color: darkgoldenrod;
        }
	
.bodyWypowiedz{
	background-color: darkgoldenrod;
        margin: 0pt;
	}

.tdAutorBox, .tdWypowiedz, .tdProfileField, .tdSearch, .tdWypowiedzModer, .tdMoveTo{ 
        background-color: khaki;
        border: 1px black solid; 
        }

.wypowiedzData{
        font-size: 8pt;
        color: firebrick;
        font-weight : normal;
        }

.tdPath a:link, .tdPath a:visited{
        color: brown;
        font-size: 10pt;
}

.tdTopAction a:link, .tdTopAction a:visited{
        color: darkred;
        font-size: 10pt;
}

.tableTextNadForum, .tableTextNadPodforum, .tableTextNadWatkiem{
}


.error{	
	color: red;
	}

.info{	
	color: yellow;
	}

.success {	
	color: green;
	}