<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE bee_configuration SYSTEM "config.dtd">
<bee_configuration version="1.0">
<general>
<url_forum>http://127.0.0.1:8084/Bee</url_forum>
</general>
<database>
<host>localhost</host>
<user>bee</user>
<password>bee</password>
<database_name>Bee</database_name>
<tables_prefix>Bee</tables_prefix>
<use_compres>false</use_compres>
<use_ssl>false</use_ssl>
</database>

<behave>
<guest_account>Guest</guest_account>
<guest_id>1</guest_id>
<log_in_max_age>3600</log_in_max_age>
<minimum_pass_length>5</minimum_pass_length>
<new_user_mail_auth>true</new_user_mail_auth>
</behave>

<mailing>
<smtp_server>127.0.0.1</smtp_server>
<mail_from>bee@localhost</mail_from>
<registration_subject>[BEE] Rejestracja</registration_subject>
<registration_body>Właśnie założyłeś konto na forum Bee, poniżej znajduje się link w który należy kliknąć aby aktywować konto:</registration_body>
<forget_subject>[BEE] Zapomniane hasło</forget_subject>
<forget_body>Poniżej link do zmiany zapomnianego hasła:</forget_body>
</mailing>

<smiles>
<smile_open_tag>\:\|</smile_open_tag>
<smile_close_tag>\|\:</smile_close_tag>
<smile_tag>lol</smile_tag><smile_url>/images/smiles/default/lol.gif</smile_url>
<smile_tag>angel</smile_tag><smile_url>/images/smiles/default/angel.gif</smile_url>
<smile_tag>cry</smile_tag><smile_url>/images/smiles/default/cry.gif</smile_url>
<smile_tag>embarassed</smile_tag><smile_url>/images/smiles/default/embarassed.gif</smile_url>
<smile_tag>king</smile_tag><smile_url>/images/smiles/default/king.gif</smile_url>
<smile_tag>rotfl</smile_tag><smile_url>/images/smiles/default/rotfl.gif</smile_url>
<smile_tag>smile</smile_tag><smile_url>/images/smiles/default/smile.gif</smile_url>
<smile_tag>very_angry</smile_tag><smile_url>/images/smiles/default/very_angry.gif</smile_url>
<smile_tag>wow</smile_tag><smile_url>/images/smiles/default/wow.gif</smile_url>
<smile_tag>angry</smile_tag><smile_url>/images/smiles/default/angry.gif</smile_url>
<smile_tag>evil</smile_tag><smile_url>/images/smiles/default/evil.gif</smile_url>
<smile_tag>sad</smile_tag><smile_url>/images/smiles/default/sad.gif</smile_url>
<smile_tag>student</smile_tag><smile_url>/images/smiles/default/student.gif</smile_url>
<smile_tag>very_happy</smile_tag><smile_url>/images/smiles/default/very_happy.gif</smile_url>
<smile_tag>beer</smile_tag><smile_url>/images/smiles/default/beer.gif</smile_url>
<smile_tag>dj</smile_tag><smile_url>/images/smiles/default/dj.gif</smile_url>
<smile_tag>give_up</smile_tag><smile_url>/images/smiles/default/give_up.gif</smile_url>
<smile_tag>ok</smile_tag><smile_url>/images/smiles/default/ok.gif</smile_url>
<smile_tag>shocked</smile_tag><smile_url>/images/smiles/default/shocked.gif</smile_url>
<smile_tag>tongue</smile_tag><smile_url>/images/smiles/default/tongue.gif</smile_url>
<smile_tag>wink</smile_tag><smile_url>/images/smiles/default/wink.gif</smile_url>
</smiles>
</bee_configuration>